.products__search {
  display: block;
  width: 100%;
  max-width: 25rem;
  margin-bottom: var(--default-spacing);
  padding: 0.25rem calc(var(--default-spacing) / 2);

  font-size: var(--font-normal);

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.15rem;
}


.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
