.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 var(--default-spacing);
  padding: 0;

  font-size: var(--font-large);
}


.categories__item {
  margin-right: calc(var(--default-spacing) * 2);
  color: inherit;
  text-decoration: none;
}


.categories__item:hover {
  color: var(--brand-colour);
}


.categories__item.is-active {
  font-weight: bold;
  text-decoration: underline;
}
