.product {
  margin-bottom: calc(var(--default-spacing) / 2);
}


.product:hover {
  cursor: pointer;
}


.product:hover .product__title {
  color: var(--brand-colour);
}


.product__title.is-active {
  font-weight: bold;
}


.product__description {
  margin-bottom: var(--default-spacing);

  font-style: italic;
}
