@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}


.loading {
  --border-color: var(--brand-colour);
  --border-width: 3px;
  --loader-size: 1.5rem;

  display: flex;
  align-items: center;
  margin-bottom: var(--default-spacing);
}


.loading::before {
  content: '';
  display: block;
  width: var(--loader-size);
  height: var(--loader-size);
  border: var(--border-width) solid var(--border-color);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loading 2s infinite linear;
}


.loading__text {
  padding-left: 0.5rem;
}
